body{
  display:flex;
  justify-content:center;
  align-items:center;
}
.robots {
    margin:100px 0 0 0;
}
.lear,.rear,
.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #a4c639;
}
.ears{
  
}
.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 100px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	
}

.upper_body { 
	 
	height: 150px;
	display: flex;
        justify-content: center;
        
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	height: 200px;
	display: flex;
        justify-content: center;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	 
} 



.right_leg { 
	margin-left: 30px; 
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	
	position: relative; 
	top: -100px; 
	left: 40px; 
  animation:up-blink 3s both infinite;
  
} 

.right_eye { 
	position: relative; 
	top: -120px; 
	left: 140px;
  animation:up-blink 3s both infinite;     
}
.lear,.rear{
  width:4px;
  height:80px;
  border-radius:4px;
}
.lear{
  position:relative;
  top:-30px;
  left:50px;
  transform:rotate(-30deg);
  animation:lear-anim 3s both ease infinite;
}
.rear{
  position:relative;
  top:-110px;
  left:150px;
  transform:rotate(30deg);
  animation:rear-anim 3s both ease infinite;
}
@keyframes lear-anim{
  0%{transform:rotate(-20deg);}
  50%{transform:rotate(-40deg);}
  100%{transform:rotate(-20deg)}
}
@keyframes rear-anim{
  0%{transform:rotate(40deg);}
  50%{transform:rotate(20deg);}
  100%{transform:rotate(40deg)}
}
@keyframes up-blink{
  0%{transform:rotateX(0deg)}
  12.5%{transform:rotateX(90deg)}
  25%{transform:rotateX(0deg)}
  100%{transform:rotateX(0deg)}
}